@model HomePageViewModel
@{
    ViewData["Title"] = "Ana Sayfa";
}

<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">

            @foreach (var item in Model.Sliders)
            {
                <div class="carousel-item @(item == Model.Sliders.FirstOrDefault() ? "active" : "")">
                    
                    <img src="/Img/@item.Image" alt="@item.Name" class="w-100" />

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>@item.Name</h1>
                            <p>@item.Description</p>
                            <p><a class="btn btn-lg btn-primary" href="@item.Link">İncele</a></p>
                        </div>
                    </div>
                </div>
            }

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing mt-5">

        <!-- Three columns of text below the carousel -->
        <div class="row text-center">

            @foreach (var item in Model.News)
            {
                <div class="col-lg-4">
                    <img src="/Img/@item.Image" alt="@item.Name" class="bd-placeholder-img rounded-circle" width="140" height="140" />
                    <h2>@item.Name</h2>
                    <p>@item.Description</p>
                    <p><a class="btn btn-secondary" href="/News/Detail/@item.Id">Devamını Oku »</a></p>
                </div>
            }
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        @foreach (var item in Model.Posts)
        {
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">@item.Name</h2>
                    <p class="lead">@item.Description</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="/Img/@item.Image" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" />
                </div>
            </div>
        }



        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

</main>